.app-layout .help-icon,
.app-layout .cart-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.app-header {
  display: flex;
  align-items: center;
  padding: 0 25px !important;
}

.app-layout .help-icon {
  fill: none;
}

.app-layout .cart-icon {
  fill: white;
  margin-left: 1rem;
}

